.auth-wrapper {
  min-block-size: calc(var(--vh, 1vh) * 100);
}

.auth-footer-mask {
  position: absolute;
  inset-block-end: 0;
  min-inline-size: 100%;
}

.auth-card {
  z-index: 1 !important;
}

.auth-footer-start-tree,
.auth-footer-end-tree {
  position: absolute;
  z-index: 1;
}

.auth-footer-start-tree {
  inset-block-end: 0;
  inset-inline-start: 0;
}

.auth-footer-end-tree {
  inset-block-end: 0;
  inset-inline-end: 0;
}

.auth-illustration {
  z-index: 1;
}

.auth-logo {
  position: absolute;
  z-index: 1;
  inset-block-start: 2rem;
  inset-inline-start: 2.3rem;
}

.auth-bg {
  background-color: rgb(var(--v-theme-surface));
}
#loaders4 {
  position: absolute;
  top: 0 !important;
  bottom: 0px !important;
  left: 0;
  padding-top: 0px !important;
  margin-top: 0px !important;
  border-radius: 0px;
  width: 100% !important;
  height: 100%;
  background: rgba(225, 225, 225, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}
.loaders404 {
  position: absolute;
  top: -60px !important;
  left: 0;
  width: 100% !important;
  height: 115% !important;
  background: rgba(225, 225, 225, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
}
#Loading {
  display: contents;
}
label {
  font-weight: bold;
}
.rms-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.rms-ripple div {
  position: absolute;
  opacity: 1;
  border-radius: 50%;
  animation: rms-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  background-color: #0088D0;
}

.rms-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes rms-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
