// Write your overrides
.vgt-wrap__footer .footer__row-count{
  padding-right: 30px !important;
}
.custom-th-class{
  width:200px;
}
.btn-edit{
  width: 200px;
}
.bg-danger{
  &:hover{
  color: #fff;

  }
  color: #fff;
}
.user-name{
  font-size: 30px;
  font-weight: bold;
  margin: 10px auto;
}